html{    
    font-size:40px;
}
body {
    margin: 0;
    overflow-y: hidden;
}
header, footer{}
h2,h3,h4{line-height:1em;}

h1{font-size:1rem; font-weight:600;}
h2{font-size:.625rem; font-weight:600;}
h3{font-size:.5rem;}
h4{font-size:.45rem;}
h5{font-size:.325rem; line-height:1.5em;}

.btn_a{position:relative; height:35px; font-size:18px;}
.btn_a:hover img{transform:translateX(10px);}
.btn_a img{position:absolute; left:0; bottom:0; transition:all 250ms ease-out;}

/* header */
.hide{opacity:0; pointer-events:none;}
.header_bg {
    position: absolute; z-index: 9; width: 100%;
}
header {
    position: relative;
    height: 100px;
    display: flex; flex-flow: row nowrap; justify-content: center;
    align-items: flex-end;
}
header h1 {opacity:0; pointer-events:none; transition: 250ms ease-out; transition-delay:250ms;}
#root.white header h1 {opacity:1; pointer-events:auto; transition: 250ms ease-out; transition-delay:50ms;}
/* header menu */
header .side_nav_con{
    position:fixed;
    top:50%;
    left:36px;
    transform:translateY(-50%);
    z-index:9999;
    transition:opacity 250ms ease-out; 
}
header .side_nav_con.hide{pointer-events:auto;}
header .side_nav_con.hide:hover{opacity:1;pointer-events:auto;}
header .side_nav_con .background{
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
}
header .side_nav_con .cube{
    position:absolute;
    left:0;
    top:0;
    transition:all 500ms ease-out;
    transform:translateY(-25%);
}
header .side_nav_con .dot{
    position:relative;
    width:20px;
    height:14px;
    margin:16px 0;
    cursor:pointer;
}
header .side_nav_con .dot:nth-child(1){margin-top:0;}
header .side_nav_con .rowLine{position:absolute; left:0; top:36%; transform:translate(0,-50%); width:100px; height:4px; border-radius:2px; background:#F2EDED; transition:all 250ms ease-out;}



.menu {
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
}
.menu .menu_contents {
    width: 130px; padding: 50px 30px;
    background-color: rgba(0,0,0,0.5);
}
.menu .menu_contents li {margin-bottom: 20px;}
.menu .menu_contents li:nth-child(2) {margin-bottom: 3px;}
.menu .menu_contents li:nth-child(4) {margin-bottom: 0;}
.menu .menu_contents li a {color: #fff;}

.burger-icon {
cursor: pointer;
display: inline-block;
position: absolute;
z-index: 2;
padding: 8px 0;
bottom: 0;
left: 0;
user-select: none;
width: auto;
margin: 0;
}

.burger-icon .burger-sticks {
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 25px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
background: #000 ;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
#root.white .burger-icon .burger-sticks:before,
#root.white .burger-icon .burger-sticks:after{
    background: #fff;
}

.burger-icon .burger-sticks:before {
top: 7px;
}

.burger-icon .burger-sticks:after {
top: -7px;
}

.burger-check {
display: none;
}

.burger-check:checked~.menu {
max-width: 130px;
}

.burger-check:checked~.burger-icon .burger-sticks {
background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
transform: rotate(45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:before,
.burger-check:checked~.burger-icon .burger-sticks:after{
    background: #fff;
}


.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
top: 0;
}
/* footer */
.footer_bg {}
footer {text-align: center; padding: 15px 0 ;}
.footer_info {}
.footer_info li {}
.footer_info li:last-child {margin-right: 0;}
.footer_link {}
.footer_link li {}
.footer_link li, .footer_info li {display: inline-block; margin-right: 20px;}
.footer_info li:last-child, .footer_link li:last-child {margin-right: 0;}
.footer_link li a {font-weight: 500;}
footer p {}
.footer_link, .footer_info{margin-bottom: 10px;}
.footer_info li, footer p, address { color: #898989;} 
  
.outer {
    height: 100vh;
    transition:transform 500ms ease-out;
}
  
  /* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}
.three_con{
    position:relative;
    width:calc(100% + 25px);
    margin:0 -12.5px;
    overflow:hidden;
}
.three_con li{
    width:calc(33.3333% - 25px);
    margin:0 12.5px;
    background:#fff;
    float:left;
}